- title "Edit User Profile"
- stylesheet :forms

= formular_for @user, :url => adapt_user_path(@user) do |f|
  %p= f.text_field :name
  %p= f.text_area :address, :rows => 6
  %p= f.text_field :telephone
  %p= f.text_field :fax
  %p= f.result_buttons "Save"
