- title "Edit Study #{@study.name||""} (Page 2)"

%p
  %em=h @study.title
%hr

- make_form_for @study, :url => study_datum_url(@study) do |f|
  = f.error_messages
  .row
    = f.multiselect :data_kind, :required => true
    = f.multiselect :time_method
  .clear
  = f.text_area :sample_population
  = f.text_field :response_rate
  .row
    = f.multiselect :sampling_procedure
    = f.multiselect :collection_method
  .clear
  .row
    .form-field Data collection period:
    = f.text_field :collection_start, :size => 12
    .form-field &mdash;
    = f.text_field :collection_end, :size => 12
  .clear
  .row
    .form-field Time period data refers to:
    = f.text_field :period_start, :size => 12
    .form-field &mdash;
    = f.text_field :period_end, :size => 12
  .clear
  %hr
  = f.result_buttons %w{Back Next}
