= semantic_form_for @doi do |f|
  = f.inputs do
    -#
      %p
        %em
          You can upload the DDI XML file for the study here in order to have
          most of the fields below filled in automatically.
      = f.input :ddi, :as => :file

    = f.input :ddi_id, :required => true
    = f.input :title, :required => true, :input_html => { :rows => 4, :cols => 80 }
    = f.input :creators, :required => true, :input_html => { :rows => 4, :cols => 80 }
    = f.input :publisher, :required => true, :input_html => { :size => 60 }
    = f.input :year, :required => true
  = f.buttons do
    - ['Submit', 'Cancel'].each do |value|
      = f.commit_button value, :button_html => { :name => 'result' }
