- make_form_for @user do |f|
  = f.text_field :username, :required => true
  = f.text_field :email, :required => true
  = f.password_field :password, :required => true
  = f.password_field :password_confirmation, :required => true
  %hr
  %h3 Contact Details
  = f.text_field :name
  = f.text_area :address, :rows => 6
  = f.text_field :telephone
  = f.text_field :fax
  %hr
  %h3 Or use OpenID
  = f.text_field :openid_identifier, :label => "OpenID URL"
  %hr
  %p= f.submit "Submit"
