- title "Register an account"

- make_form_for @user do |f|
  = f.text_field :username, :label => "Please enter your ASSDA user name:"
  %p= f.submit "Submit"
  %hr
  %h3 Contact Details
  = f.text_field :name
  = f.text_area :address, :rows => 6
  = f.text_field :telephone
  = f.text_field :fax
