- title "Attachments"

- for attachment in @attachments
  %hr
  %p
    %strong Name:
    = h attachment.name
  %p
    %strong Category:
    = h attachment.category
  %p
    %strong Format:
    = h attachment.format
  %p
    %strong Description:
    = h attachment.description
  %p
    = link_to 'Edit', edit_attachment_path(attachment)
    = link_to 'Delete', attachment_path(attachment), :method => :delete, |
                        :confirm => "Delete this attachment?" |

%hr
%p= link_to "New Attachment", new_attachment_path
