- title "New Attachment"

%p
  %strong Study:
  %em== '#{h @study.title}'

- make_form_for [ @study, @attachment ], :html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :content, :label => "File to upload"
  = f.select :category
  /= f.text_field :format
  = f.text_area :description
  = f.result_buttons %w{Upload Cancel}
