- title "New Attachment"
- stylesheet :forms

%p
  %strong Study:
  %em== '#{h @study.title}'

- make_form_for [ @study, @attachment ], :html => {:multipart => true} do |f|
  = f.file_field :content, :label => "File to upload", :required => true
  = f.check_box :category
  = f.text_area :description
  = f.result_buttons %w{Upload Cancel}
