- title "Attachment"

%hr
.properties
  %ul
    %li
      %dfn Study:
      %em= h @attachment.study.title

    - unless @attachment.nil?
      %li
        %dfn Filename:
        %em= h @attachment.name
      %li
        %dfn Category:
        =h @attachment.category
      %li
        %dfn Description:
        =h @attachment.description

%hr
%p>
  = link_to "Back to study", @attachment.study
  |
  - if @attachment.study.can_be_edited_by current_user
    = link_to "Edit", edit_attachment_path(@attachment)
    |
    = link_to "Delete", @attachment, :method => :delete, |
                        :confirm => 'Really delete this attachment?' |
    
    |
  = link_to "Download", download_attachment_path(@attachment)
