- title "Attachment"

%p
  %strong Study:
  %em= h @attachment.study.title

- unless @attachment.nil?
  %p
    %strong Filename:
    %em= h @attachment.name
  %p
    %strong Category:
    =h @attachment.category
  %p
    %strong Description:
    =h @attachment.description
  %p>
    = link_to "Back to study", @attachment.study
    |
    = link_to "Edit", edit_attachment_path(@attachment)
    |
    = link_to "Delete", @attachment, |
                        :confirm => 'Really delete this attachment?', |
                        :method => :delete |
    /
    |
    = link_to "Download", download_attachment_path(@attachment)
