#attachment-fields
  %h3 Attached Files

  %p= @form.errors_on(:attachments)
  - unless @study.attachments.empty?
    %p
      %em
        (For each file, please check either the "Data File" or
        "Documentation" box and provide a short description of the
        contents.)

    - @form.fields_for :attachments do |f|
      %hr
      %strong= h f.object.name
      &nbsp;
      %em== (#{number_to_human_size f.object.data.size})
      &nbsp;
      = f.check_box :_destroy, :label => "Delete this file"
      - if f.object.name.ends_with?('.zip')
        = f.check_box :extract, :label => "Extract this ZIP file"
      %p
        = f.errors_on(:category)
        = f.radio_button :category, "Data File"
        = f.radio_button :category, "Documentation"
      = f.text_area :description, :rows => 2
    %hr

  %h3 Select files to upload:
  %p
    %em
      (You can upload files individually or in batches packaged as ZIP
      files. The latter can be submitted as is or the contained files
      extracted after uploading.)
  - @form.fields_for :uploads, Attachment.new do |f|
    = f.file_field :content, :label => '', :multi => true
