#attachment-fields.tab-body
  %h3 Attached Files

  %p= @form.errors_on(:attachments)
  - unless @study.attachments.empty?
    %p
      %em
        (Please select a category for each file and provide a short
        description where necessary. At least on data file is required.)

    %table.form-table
      %thead
        %tr
          %th Name
          %th Size
          %th Description
          %th
          %th Category
          %th
            - if @study.attachments.any? { |a| a.name.ends_with?('.zip') }
              Extract
          %th Delete
      %tbody
        - @form.fields_for :attachments do |f|
          - attachment = f.object
          %tr
            %td=link_to h(attachment.name), download_attachment_path(attachment)
            %td=h number_to_human_size(attachment.data.size)
            %td.with_input
              = f.text_area :description, :label => '', :cols => 30
            %td
              - unless f.errors_on(:category).blank?
                %label
                  %em.error Select:
            %td= f.select :category, :label => '', :empty => ''
            %td
              - if attachment.name.ends_with?('.zip')
                = f.check_box :extract, :label => ''
            %td= f.check_box :_destroy, :label => ''

  %h3 Select files to upload:
  %p
    %em
      (You can upload files either separately or in batches packaged
      as ZIP files. The latter can be submitted as is or the
      individual files extracted after uploading.)
  - @form.fields_for :uploads, Attachment.new do |f|
    - label = Rails.env.cucumber? ? 'Upload' : ''
    = f.file_field :content, :label => label, :multi => true, :size => 0

  .clear
