#attachment-fields
  %h3 Attached Files
  %p= @form.errors_on(:attachments)
  - unless @study.attachments.empty?
    %p
      %em
        (For each file, please check either the "Data File" or
        "Documentation" box and provide a short description of the
        contents.)

    - @form.fields_for :attachments do |f|
      %hr
      %strong= h f.object.name
      &nbsp;
      %em== (#{number_to_human_size f.object.data.size})
      &nbsp;
      = f.check_box :_destroy, :label => "Delete this file"
      %p
        = f.errors_on(:category)
        = f.radio_button :category, "Data File"
        = f.radio_button :category, "Documentation"
      = f.text_area :description, :rows => 2
    %hr

  %h3 Select a file to upload:
  - @form.fields_for :new_upload, Attachment.new do |f|
    = f.file_field :content, :label => ''
  %em (ZIP file contents are extracted automatically.)
