#attachment-fields
  %h3 Attached Files

  %p= @form.errors_on(:attachments)
  - unless @study.attachments.empty?
    %p
      %em
        (For each file, please check either the "Data File" or
        "Documentation" box and provide a short description of the
        contents.)

    %table.zebra
      %thead
        %tr
          %th Name
          %th Size
          %th Description
          %th
          %th Data File
          %th Documentation
          %th
            - if @study.attachments.any? { |a| a.name.ends_with?('.zip') }
              Extract
          %th Delete
      %tbody
        - @form.fields_for :attachments do |f|
          %tr
            %td=h f.object.name
            %td=h number_to_human_size(f.object.data.size)
            %td= f.text_area :description, :label => '', :cols => 35, :rows => 1
            %td= f.errors_on(:category)
            %td= f.radio_button :category, "Data File", :label => ''
            %td= f.radio_button :category, "Documentation", :label => ''
            %td
              - if f.object.name.ends_with?('.zip')
                = f.check_box :extract, :label => ''
            %td= f.check_box :_destroy, :label => ''

  %h3 Select files to upload:
  %p
    %em
      (You can upload files individually or in batches packaged as ZIP
      files. The latter can be submitted as is or the contained files
      extracted after uploading.)
  - @form.fields_for :uploads, Attachment.new do |f|
    = f.file_field :content, :label => '', :multi => true

  .clear
