- stylesheet :tables

#credit-fields
  %h3 Credits and Acknowledgements
  %p
    %strong Tips for this page:
  .collapsible
    .box
      %ul
        %li
          %p
            All fields on this page, with the exception of
            'Depositor', are repeatable. Additional lines will appear
            as needed when 'Apply Changes' is pressed.
  %hr
  %p= @form.tabular :depositors, :required => true
  %p= @form.tabular :principal_investigators, :required => true
  %p= @form.tabular :data_producers
  %p= @form.tabular :funding_agency
  %p= @form.tabular :other_acknowledgements, :size => 25
  %p= @form.tabular :references, :size => 23, :rows => 1

  .clear
 