#credit-fields
  %h3 Credits and Acknowledgements
  = @form.structured :depositors, :required => true
  = @form.structured :principal_investigators, :required => true
  = @form.structured :data_producers
  = @form.structured :funding_agency
  = @form.structured :other_acknowledgements, :size => 22
  = @form.text_field :references, :size => 80
  %hr
  %p
    %strong Tips for completing this page:
  .collapsible
    .box
      %ul
        %li
          %p
            All fields on this page, with the exception of
            'Depositor', are repeatable. Additional lines will appear
            as needed when 'Apply Changes' is pressed.
    .clear
