#data-fields
  %h3 Data Description
  %p
    %strong Tips for this page:
  .collapsible
    .box
      %ul
        %li
          %p
            Hold down the 'Ctrl' key to mark multiple values in a
            selection box.
        %li
          %p
            Dates can be specified as a year, year and month, or full
            date. Providing a four-digit year and three-letter month
            helps avoid ambiguities, but other formats are accepted.
    .clear
  %hr
  %div
    %label
      Data is
      %em *
    = @form.check_box :data_is_qualitative
    = @form.check_box :data_is_quantitative
    = @form.errors_on("Data Category")
  .row
    = @form.select :data_kind, :required => true
    = @form.select :time_method
    = @form.select :sampling_procedure
    = @form.select :collection_method
  .clear
  %div= @form.text_area :sample_population
  %div= @form.text_field :response_rate, :inline => true, :label_inline => true
  %div
    %label Time period data refers to:
    = @form.text_field :period_start, :size => 12, :inline => true
    &mdash;
    = @form.text_field :period_end, :size => 12, :inline => true
    = @form.errors_on("period")
  %div
    %label Data collection period:
    = @form.text_field :collection_start, :size => 12, :inline => true
    &mdash;
    = @form.text_field :collection_end, :size => 12, :inline => true
    = @form.errors_on("collection")
