#data-fields
  %h3 Data Description
  %p
    %strong Tips for this page:
  .collapsible
    .box
      %ul
        %li
          %p
            Hold down the 'Ctrl' key to mark multiple values in a
            selection box.
        %li
          %p
            If you need to enter values not included in the selection,
            use the text field labeled 'Other' and separate multiple
            entries by commas. For example, to enter 'Red', 'Light
            Green' and 'Blue' as separate values, you would type 'Red,
            Light Green, Blue'.
        %li
          %p
            Dates can be specified as a year, year and month, or full
            date. Providing a four-digit year and three-letter month
            as in 'Jan 2010' helps avoid ambiguities, but other
            formats are also accepted.
  %hr
  %p
    %label
      Data is
      %em *
    = @form.check_box :data_is_qualitative
    = @form.check_box :data_is_quantitative
    = @form.errors_on("Data Category")
  %p= @form.text_area :data_relation
  %p
    = @form.tabular :data_kind, :required => true
    = @form.tabular :time_method
  %p
    = @form.tabular :sampling_procedure
    = @form.tabular :collection_method
  %p= @form.text_area :sample_population
  %p= @form.text_field :response_rate, :label_left => true
  %p
    %label Time period data refers to:
    = @form.text_field :period_start, :size => 12
    &mdash;
    = @form.text_field :period_end, :size => 12
    = @form.errors_on("period")
  %p
    %label Data collection period:
    = @form.text_field :collection_start, :size => 12
    &mdash;
    = @form.text_field :collection_end, :size => 12
    = @form.errors_on("collection")

  .clear
