<% form_for @study do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :permanent_identifyer %><br />
    <%= f.text_field :permanent_identifyer %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :ddi %><br />
    <%= f.text_area :ddi %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
