#licence-fields
  %h3 Licence Details
  - if @study.owner.is_archivist
    %p= @form.check_box :skip_licence
  - @form.fields_for :licence do |fields|
    = fields.text_field :signed_by, :required => true
    = fields.text_field :signed_date, :required => true
    = fields.text_field :email, :required => true
    = fields.select :access_mode, :required => true

  %hr
  %p
    %strong Full licence text based on the current selections:
  .collapsible
    .box
      %pre= @study.licence.text false
    .clear
