#licence-fields
  %h3 Licence Details
  - if @study.owner.is_archivist
    %p= @form.check_box :skip_licence
  - @form.fields_for :licence do |fields|
    = fields.text_field :signed_by, :required => true
    = fields.text_field :signed_date, :required => true
    = fields.text_field :email, :required => true
    %p
      %label
        Access conditions:
        = fields.errors_on(:access_mode)
    %p{ :title => LicenceText::UNRESTRICTED_ACCESS }
      = fields.radio_button :access_mode, 'A', :label => ''
      Access may be granted freely to registered researchers and
      institutions.
    %p{ :title => LicenceText::RESTRICTED_ACCESS }
      = fields.radio_button :access_mode, 'B', :label => ''
      Access may only be given with prior written permission of the
      undersigned.
    %p{ :title => LicenceText::DEFERRED_ACCESS }
      = fields.radio_button :access_mode, 'S', :label => ''
      Access conditions are to be negotiated.
  %hr
  %p
    %strong Full licence text based on the current selections:
  .collapsible
    .box
      %pre= @study.licence.text false
    .clear
