#licence-fields.tab-body
  %h3 Licence Details
  - if @study.owner.is_archivist
    - skip = "Licence will be obtained separately (archivists only)"
    %div= @form.check_box :skip_licence, :label => skip
    .clear
  - @form.fields_for :licence do |fields|
    = fields.text_field :signed_by, :required => true
    .clear
    = fields.text_field :signed_date, :required => true
    .clear
    = fields.text_field :email, :required => true
    %p
      %label
        Access conditions:
        = fields.errors_on(:access_mode)
    %p{ :title => LicenceText::UNRESTRICTED_ACCESS }
      = fields.radio_button :access_mode, 'A', :label => ''
      Unrestricted – available to ASSDA registered users (see &nbsp;
      %a{ :href => 'http://www.assda.edu.au/data.html' }<>
        http://www.assda.edu.au/data.html
      ).  Usage reports available to the depositor, or authorised
      representative, upon request.
    %p{ :title => LicenceText::RESTRICTED_ACCESS }
      = fields.radio_button :access_mode, 'B', :label => ''
      Restricted – the depositor, or authorised representative, to be
      informed by ASSDA of each request to use the data in order to
      give or withhold permission.  Users must be registered with
      ASSDA and complete the &nbsp;
      %a{ :href => 'http://www.assda.edu.au/forms/ApplicationToAccessRestrictedData.pdf' }<>
        Restricted Access Form
      = '.'
    %p{ :title => LicenceText::DEFERRED_ACCESS }
      = fields.radio_button :access_mode, 'S', :label => ''
      Special conditions of access to be negotiated with ASSDA.

  .clear
