- title "Edit Study #{@study.name||""}"
- stylesheet :forms
- stylesheet :tabs
- wait = ! @can_submit

%em
  %p
    Please supply as many details as possible.
    - if @study.can_be_submitted_by(current_user) and not @can_submit
      Red text indicates required information that has not yet been
      provided or input that does not seem valid.
    - else
      Before submitting, make sure that all information given is
      complete and correct.
  %p
    To save this form for later completion, select
    %em 'Save and Exit'
    at the bottom of this page.
  %p
    To delete studies, visit
    %em 'View Deposits'
    via the menu bar on the left.

= button_to "Submit this study", submit_study_path(@study), :disabled => wait
%br

- make_form_for @study, :html => {:multipart => true} do |form|
  - @form = form

  .tabs-container
    %input{ :type => 'hidden' }
    %ul{ :style => 'display: none' }
      = tab_link('#title-fields', 'Title and Abstract')
      = tab_link('#data-fields', 'Data Description')
      = tab_link('#credit-fields', 'Credits')
      = tab_link('#attachment-fields', 'Attached Files')
      = tab_link('#licence-fields', 'Licence Details')

    = render 'title_fields'
    = render 'data_fields'
    = render 'credit_fields'
    = render 'attachment_fields'
    = render 'licence_fields'
  %p= form.result_buttons @button_texts
