- title "Edit Study #{@study.name||""}"
- stylesheet :forms

- make_form_for @study do |form|
  - @form = form
  %h3 Title and Abstract
  = render 'title_fields'

  %hr
  %h3 Licence Details
  = render 'licence_fields'
      
  %hr
  %h3 Data Description
  = render 'data_fields'

  %hr
  %h3 Credits and Acknowledgements
  = render 'credit_fields'

  %hr
  %p= form.result_buttons ['Refresh', 'Save', 'Cancel']
