- title "Edit Study #{@study.name||""}"
- stylesheet :forms
- stylesheet :tabs

- make_form_for @study do |form|
  - @form = form

  .tabs-container
    %input{ :type => 'hidden' }
    %ul{ :style => 'display: none' }
      = tab_link('#title-fields', 'Title and Abstract')
      = tab_link('#licence-fields', 'Licence Details')
      = tab_link('#data-fields', 'Data Description')
      = tab_link('#credit-fields', 'Credits')

    = render 'title_fields'
    = render 'licence_fields'
    = render 'data_fields'
    = render 'credit_fields'
  %p= form.result_buttons ['Refresh', 'Save', 'Cancel']
