- title "Edit Study #{@study.name||""}"
- stylesheet :forms

- make_form_for @study do |form|
  - @form = form

  .tabs-container
    %ul{ :style => 'display: none' }
      %li
        %a{ :href => '#title-fields' }
          %span Title and Abstract
      %li
        %a{ :href => '#licence-fields' }
          %span Licence Details
      %li
        %a{ :href => '#data-fields' }
          %span Data Description
      %li
        %a{ :href => '#credit-fields' }
          %span Credits and Acknowledgements

    = render 'title_fields'
    = render 'licence_fields'
    = render 'data_fields'
    = render 'credit_fields'
    %p= form.result_buttons ['Refresh', 'Save', 'Cancel']
