- title "Deposits"
- stylesheet :tables

%table
  %thead
    %tr
      %th.noprint
      %th Title
      %th Abstract
      %th Depositor
      %th Archivist
      %th Status
      %th Files
      %th ASSDA ID
  %tbody
    - for study in @studies
      %tr{ :class => "#{cycle("odd", "even")}" }
        %td.noprint= link_to "Details", study
        %td
          %p= clip_text h(study.title), 60
        %td
          %p= clip_text h(study.abstract), 60
        %td=h study.owner.name
        %td=h study.archivist && study.archivist.name
        %td= study.status
        %td= study.attachments.count
        %td= study.permanent_identifier || "&mdash;"
