- title "Deposits"
- stylesheet :tables

%table
  %thead
    %tr
      %th.noprint
      %th Title
      %th Abstract
      %th Created by
      %th Archivist
      %th Status
      %th Files
      %th ASSDA ID
  %tbody
    - for study in @studies
      %tr{ :class => "#{cycle("odd", "even")}" }
        %td.noprint
          - if study.can_be_edited_by(current_user)
            = link_to "Edit", edit_study_url(study)
          - else
            = link_to "Summary", study
        %td
          %p= clip_text h(study.title), 60
        %td
          %p= clip_text h(study.abstract), 60
        %td=h study.owner.name
        %td=h study.archivist && study.archivist.name
        %td= study.status
        %td= study.attachments.count
        %td= study.permanent_identifier || "&mdash;"
