%codeBook
  %docDscr
    %citation
      %titlStmt
        %title= @study.title
  %stdyDscr
    %citation
      %titlStmt
        %title= @study.title
    %stdyInfo
      %abstract= @study.abstract
      %sumDscr
        - unless @study.period_start.blank?
          %timePrd{ :date => @study.period_start, :event => 'start' }
        - unless @study.period_end.blank?
          %timePrd{ :date => @study.period_end, :event => 'end' }
        - unless @study.collection_start.blank?
          %timePrd{ :date => @study.collection_start, :event => 'start' }
        - unless @study.collection_end.blank?
          %timePrd{ :date => @study.collection_end, :event => 'end' }
        - unless @study.sample_population.blank?
          %universe= @study.sample_population
        - if @study.data_is_quantitative == "1"
          %dataKind Quantitative
        - if @study.data_is_qualitative == "1"
          %dataKind Qualitative
        - @study.data_kind.each do |kind|
          %dataKind= kind
    %method
      %dataColl
        - @study.time_method.each do |method|
          %timeMeth= method
        - @study.sampling_procedure.each do |sampl|
          %sampProc= sampl
        - @study.collection_method.each do |mode|
          %collMode= mode
      - unless @study.response_rate.blank?
        %anlyInfo
          %respRate= @study.response_rate
