- title "Study Details"

.properties
  %ul
    %li
      %dfn Title:
      %em=h @study.title
    %li
      %dfn Abstract:
      =format_text @study.abstract
  %hr
  %ul
    %li
      %dfn Attachments:
      - if @study.attachments.empty?
        &mdash;
      - else
        %ul= render @study.attachments
  %hr
  %ul
    %li
      %dfn Status:
      =h @study.status
    %li
      %dfn ASSDA ID:
      = cleanup @study.permanent_identifier
    %li
      %dfn Archivist:
      = cleanup(@study.archivist && @study.archivist.name)

  %hr
  %ul
    %li
      %dfn Kind of data:
      - tmp = []
      - tmp << "qualitative" if @study.data_is_qualitative == '1'
      - tmp << "quantitative" if @study.data_is_quantitative == '1'
      - tmp = tmp.empty? ? [] : [tmp.join(" and ")]
      = cleanup((tmp + (@study.data_kind || [])).join(", ").humanize)
    %li
      %dfn Sample population:
      = cleanup @study.sample_population
    %li
      %dfn Time period:
      = [h(@study.period_start), h(@study.period_end)].join(" &mdash; ")
    %li
      %dfn Response rate:
      = cleanup @study.response_rate
    %li
      %dfn Sampling procedure:
      = cleanup((@study.sampling_procedure || []).join(", ").humanize)
    %li
      %dfn Collection method:
      = cleanup((@study.collection_method || []).join(", ").humanize)
    %li
      %dfn Collection period:
      = [h(@study.collection_start), h(@study.collection_end)].join(" &mdash; ")

  %hr
  %ul
    %li
      %dfn Depositor:
      - if @study.depositors
        = "#{cleanup @study.depositors["name"]},"
        = cleanup @study.depositors["affiliation"]
      - else
        &mdash;
    %li
      %dfn Principal Investigators:
      - if @study.principal_investigators.blank?
        &mdash;
      - else
        %ul
          - for item in @study.principal_investigators
            %li
              = "#{cleanup item["name"]},"
              = cleanup item["affiliation"]
    %li
      %dfn Data Producers:
      - if @study.data_producers.blank?
        &mdash;
      - else
        %ul
          - for item in @study.data_producers
            %li
              = "#{cleanup item["name"], "n.a."},"
              = cleanup item["affiliation"], "n.a."
    %li
      %dfn Funding:
      - if @study.funding_agency.blank?
        &mdash;
      - else
        %ul
          - for item in @study.funding_agency
            %li
              - data = []
              - data << item["agency"] unless item["agency"].blank?
              - unless item["grant_number"].blank?
                - data << "grant no. #{item["grant_number"]}"
              = cleanup data.join(", ")
    %li
      %dfn Acknowledgements:
      - if @study.other_acknowledgements.blank?
        &mdash;
      - else
        %ul
          - for item in @study.other_acknowledgements
            %li
              = "#{cleanup item["name"], "n.a."},"
              = cleanup item["affiliation"], "n.a."
              = "(#{cleanup item["role"], "n.a."})"
%hr
%p.links>
  - if @study.can_be_edited_by current_user
    = link_to "Edit", edit_study_path(@study)
    |
    = link_to "Delete", @study, :confirm => 'Really delete this study?', |
                                :method => :delete |
    /
    |
    = link_to "Add a file", new_study_attachment_path(@study)
  - if @study.can_be_submitted_by current_user
    |
    /
    = link_to "Submit", submit_study_path(@study), :method => :post, |
        :confirm => 'Please ensure all information is complete and correct.' |

- if @study.can_be_approved_by current_user
  %hr
  %h3 Approve and assign to an archivist:
  - make_form_for @study, :url => approve_study_path(@study), |
                          :html => { :method => :post } do |f| |
    = f.select :archivist, :label => ""
    = f.result_buttons %w{Assign}
