!!! XML
%codeBook
  %docDscr
    %citation
      %titlStmt
        %titl= @study.title
      %rspStmt
        - @study.principal_investigators.each do |author|
          %AuthEnty{ :affiliation => author['affiliation'] }
            = author['name']
        - @study.other_acknowledgements.each do |ack|
          %othId{ :role => ack['role'], :affiliation => ack['affiliation'] }
            %p= ack['name']
  %stdyDscr
    %citation
      %titlStmt
        %titl= @study.title
      %rspStmt
        - @study.principal_investigators.each do |author|
          %AuthEnty{ :affiliation => author['affiliation'] }
            = author['name']
        - @study.other_acknowledgements.each do |ack|
          %othId{ :role => ack['role'], :affiliation => ack['affiliation'] }
            %p= ack['name']
      %prodStmt
        - @study.data_producers.each do |producer|
          %producer{ :affiliation => producer['affiliation'] }
            = producer['name']
        - @study.funding_agency.each do |agency|
          %fundAg= agency['agency']
          - unless agency['grant_number'].blank?
            %grantNo{ :agency => agency['agency'] }= agency['grant_number']
      %distStmt
        %depositr{ :affiliation => @study.depositors['affiliation'] }
          = @study.depositors['name']
    %stdyInfo
      %abstract= @study.abstract
      %sumDscr
        - unless @study.period_start.blank?
          %timePrd{ :date => @study.period_start, :event => 'start' }
        - unless @study.period_end.blank?
          %timePrd{ :date => @study.period_end, :event => 'end' }
        - unless @study.collection_start.blank?
          %timePrd{ :date => @study.collection_start, :event => 'start' }
        - unless @study.collection_end.blank?
          %timePrd{ :date => @study.collection_end, :event => 'end' }
        - unless @study.sample_population.blank?
          %universe= @study.sample_population
        - if @study.data_is_quantitative == "1"
          %dataKind Quantitative
        - if @study.data_is_qualitative == "1"
          %dataKind Qualitative
        - @study.data_kind.each do |kind|
          %dataKind= kind
    %method
      %dataColl
        - @study.time_method.each do |method|
          %timeMeth= method
        - @study.sampling_procedure.each do |sampl|
          %sampProc= sampl
        - @study.collection_method.each do |mode|
          %collMode= mode
      - unless @study.response_rate.blank?
        %anlyInfo
          %respRate= @study.response_rate
    %othrStdyMat
      - @study.references.each do |ref|
        %othRefs
          %citation
            %titlStmt
              %titl= ref['title']
            %rspStmt
              %AuthEnty= ref['author']
            %holdings{ :URI => ref['details'] }

