- title "Study Details"

%hr
.properties
  %ul
    %li
      %dfn Title:
      %em=h @study.title
    %li
      %dfn Abstract:
      =h @study.abstract
    %li
      %dfn Depositor:
      =h @study.owner.name
    %li
      %dfn Archivist:
      = cleanup(@study.archivist && @study.archivist.name)
    %li
      %dfn Attachments:
      - if @study.attachments.empty?
        (none)
      - else
        %ul
          = render @study.attachments
    %li
      %dfn Status:
      =h @study.status
    %li
      %dfn ASSDA ID:
      = cleanup @study.permanent_identifier
    %li
      %dfn Kind of data:
      - kinds = []
      - kinds << "qualitative" if @study.data_is_qualitative
      - kinds << "quantitative" if @study.data_is_quantitative
      - kinds = [kinds.join(" and ")] + @study.data_kind
      = cleanup kinds.join(", ")
    %li
      %dfn Sample population:
      = cleanup @study.sample_population
    %li
      %dfn Sampling procedure:
      = cleanup @study.sampling_procedure.join(", ")
    %li
      %dfn Collection method:
      = cleanup @study.collection_method.join(", ")
%hr
%p>
  - if @study.can_be_edited_by current_user
    = link_to "Edit", edit_study_path(@study)
    |
    = link_to "Delete", @study, :confirm => 'Really delete this study?', |
                                :method => :delete |
    /
    |
    = link_to "Add a file", new_study_attachment_path(@study)
  - if @study.can_be_submitted_by current_user
    |
    /
    = link_to "Submit", submit_study_path(@study), :method => :post, |
        :confirm => 'Please ensure all information is complete and correct.' |

- if @study.can_be_approved_by current_user
  %hr
  %h3 Approve and assign to an archivist:
  - make_form_for @study, :url => approve_study_path(@study), |
                          :html => { :method => :post } do |f| |
    = f.select :archivist, :label => ""
    = f.result_buttons %w{Assign}
