!!! XML
%codeBook
  %docDscr
    %citation
      %titlStmt
        %titl= @study.title
        %IDNo= @study.permanent_identifier || "au.edu.assda.ddi.xxxxx"
      %prodStmt
        %producer{ :abbr => "ASSDA", |
                   :affiliation => "The Australian National University" } |
          Australian Social Science Data Archive
        %copyright
          == Copyright © #{Date.today.year},
          The Australian National University.
          All rights reserved.
  %stdyDscr
    %citation
      %titlStmt
        %titl= @study.title
        %IDNo= @study.permanent_identifier || "au.edu.assda.ddi.xxxxx"
      %rspStmt
        - @study.principal_investigators.each do |author|
          %AuthEnty{ :affiliation => author['affiliation'] }
            = author['name']
        - @study.other_acknowledgements.each do |ack|
          %othId{ :role => ack['role'], :affiliation => ack['affiliation'] }
            %p= ack['name']
      %prodStmt
        - @study.data_producers.each do |producer|
          %producer{ :affiliation => producer['affiliation'] }
            = producer['name']
        - @study.funding_agency.each do |agency|
          %fundAg= agency['agency']
          - unless agency['grant_number'].blank?
            %grantNo{ :agency => agency['agency'] }= agency['grant_number']
      %distStmt
        %distrbtr{ :abbr => "ASSDA", URI => "http://assda.anu.edu.au", |
                   :affiliation => "The Australian National University" } |
          Australian Social Science Data Archive
        %depositr{ :affiliation => @study.depositors['affiliation'] }
          = @study.depositors['name']
      %verStmt
        %verResp
          Australian Social Science Data Archive
    %stdyInfo
      %abstract= @study.abstract
      %sumDscr
        - unless @study.period_start.blank?
          %timePrd{ :date => @study.period_start, :event => 'start' }
        - unless @study.period_end.blank?
          %timePrd{ :date => @study.period_end, :event => 'end' }
        - unless @study.collection_start.blank?
          %collDate{ :date => @study.collection_start, :event => 'start' }
        - unless @study.collection_end.blank?
          %collDate{ :date => @study.collection_end, :event => 'end' }
        - unless @study.sample_population.blank?
          %universe= @study.sample_population
        - if @study.data_is_quantitative == "1"
          %dataKind Quantitative
        - if @study.data_is_qualitative == "1"
          %dataKind Qualitative
        - @study.data_kind.each do |kind|
          %dataKind= kind
    %method
      %dataColl
        - @study.time_method.each do |method|
          %timeMeth= method
        - @study.sampling_procedure.each do |sampl|
          %sampProc= sampl
        - @study.collection_method.each do |mode|
          %collMode= mode
      - unless @study.response_rate.blank?
        %anlyInfo
          %respRate= @study.response_rate
    %dataAccs
      %useStmt
        - access = @study.licence && @study.licence.access_mode

        %confDec{ :required => "yes" }

          A copy of the User Undertaking Form
          (http://assda.anu.edu.au/accessing.html) must be signed
          before the data can be accessed.

        - if access == 'B'
          %specPerm{ :required => "yes" }

            There is a special access form. Please complete the form
            (http://assda.anu.edu.au/???) and return it to ASSDA.

        - if access == 'S'
          %conditions

            Special access conditions apply. Please contact ASSDA.
            
        %restrctn

          The depositor may be informed (by the archive) of use being
          made of the data, in order to comment on that use and make
          contact with colleagues of similar interests.

        %citReq

          All manuscripts based in whole or in part on these data
          should:
          :cdata

          :cdata

          (i) identify the data and original investigators by using
          the recommended bibliographic reference to the data file;
          :cdata

          :cdata
            
          (ii) acknowledge the Australian Social Science Data Archive
          and, where the data are made available through the
          Australian Social Science Data Archive by another archive,
          acknowledge that archive;
          :cdata

          :cdata

          (iii) declare that those who carried out the original
          analysis and collection of the data bear no responsibility
          for the further analysis or interpretation of them.

        %deposReq

          In order to assemble essential information about archival
          resources and to facilitate the exchange of information
          about users’ research activities, individuals are required
          to email ASSDA (assda@anu.edu.au) with the bibliographic
          details and, where available, online links to any published
          work (including journal articles, books or book chapters,
          conference presentations, theses or any other publications
          or outputs) based wholly or in part on the material.

        %disclaimer

          Use of the material is solely at the user's risk. The
          depositor, The Australian National University and the
          Australian Social Science Data Archive shall not be held
          responsible for the accuracy and completeness of the
          material supplied.

    %othrStdyMat
      - @study.references.each do |ref|
        %othRefs
          %citation
            %titlStmt
              %titl= ref['title']
            %rspStmt
              %AuthEnty= ref['author']
            %holdings{ :URI => ref['details'] }

