- title "Deposit Licence"

= licence_text

%hr

%p
  %em
    (Please verify your name and email address and select an access
    option.)

%fieldset
  - form_tag submit_study_url(:id => @study.id), :method => :post do
    %p
      == I, #{text_field_tag "signator", current_user.name}
      == (Email: #{text_field_tag "email", current_user.email} ),
    %p accept the terms of this licence with
    %p
      = radio_button_tag "access", "A"
      unrestricted access (Access A) as specified under point (3.i)
      above.
    %p
      = radio_button_tag "access", "B"
      access by permission (Access B) as specified under point (3.ii)
      above.
    %p
      = radio_button_tag "access", "S"
      access conditions to be negotiated between me and ASSDA.
    %p
      %span{ :style => "float: left" }
        == Date: #{text_field_tag "date", Date.today.inspect}
      %span{ :style => "float: right" }
        = submit_tag "Decline", :name => "licence"
        = submit_tag "Accept", :name => "licence"
