- title "Licence Form"
- stylesheet :forms

= @licence.text

%hr

%em (Please verify the information below and select an access option.)

%fieldset
  - make_form_for [ @study, @licence ] do |f|
    = f.text_field :signed_by, :required => true
    = f.text_field :signed_date, :required => true
    = f.text_field :email, :required => true
    = f.select :access_mode, :required => true
    %p= f.result_buttons %w{Cancel Continue}
