- text = { :rows => 20, :cols => 30, :class => 'expandable' }

= @form.inputs 'Attached Files', :id => 'attachment-fields', :class => 'tab' do
  %p= @form.errors_on(:attachments)
  - unless @study.attachments.empty?
    %p
      %em
        (Please select a category for each file and provide a short
        description where necessary. At least on data file is required.)

    %table
      %thead
        %tr
          %th Name
          %th Size
          %th Description
          %th Category
          %th
            - if @study.attachments.any? { |a| a.name.ends_with?('.zip') }
              Extract
          %th Delete
      %tbody
        = @form.fields_for :attachments do |f|
          - attachment = f.object
          - categories = [['', '']] + attachment.selections(:category)
          %tr
            %td=link_to h(attachment.name), |
                  download_adapt_attachment_path(attachment) |
            %td=h number_to_human_size(attachment.data.size)
            %td= f.text_area :description, text
            %td
              = f.select :category, categories
              = f.errors_on :category
            %td
              - if attachment.name.ends_with?('.zip')
                = f.check_box :extract
            %td= f.check_box :_destroy

  %h3 Select files to upload:
  %p
    %em
      (You can upload files either separately or in batches packaged
      as ZIP files. The latter can be submitted as is or the
      individual files extracted after uploading.)
  = @form.semantic_fields_for :uploads, Adapt::Attachment.new do |f|
    - label = Rails.env.test? ? 'Upload' : false
    = f.input :content, :label => label, :as => :file, :required => false, |
                        :input_html => { :class => 'multi' } |
