- long = { :size => 35 }
- text = { :rows => 2, :cols => 25, :class => 'expandable' }
- tab_id = 'adapt-credit-fields'

= @form.inputs 'Credits and Acknowledgements', :id => tab_id, :class => 'tab' do
  = tabular_fields @form, :depositors, |
                  :input_html => long,
                  :required => { :name => true },
                  :choices_on => [:affiliation]
  = tabular_fields @form, :principal_investigators, |
                  :input_html => long,
                  :required => { :name => true },
                  :choices_on => [:affiliation]
  = tabular_fields @form, :data_producers, |
                  :input_html => long,
                  :required => false,
                  :choices_on => [:affiliation]
  = tabular_fields @form, :funding_agency, |
                  :input_html => long,
                  :required => false
  = tabular_fields @form, :other_acknowledgements, |
                  :input_html => { :size => 25 },
                  :required => false,
                  :choices_on => [:affiliation]
  = tabular_fields @form, :references, |
                  :as => :text,
                  :input_html => text,
                  :required => false

  = @form.inputs 'Affiliations', :class => 'adapt-choices', |
                                 :id => 'adapt-affiliation-choices' do
    %li.empty &nbsp
    - @study.selections(:affiliation).each do |entry|
      %li= entry
