- stylesheet :tables

= @form.inputs 'Credits and Acknowledgements', :id => 'credit-fields' do
  = @form.input :depositors, :required => true, :size => 35
  = @form.input :principal_investigators, :required => true, :size => 35
  = @form.input :data_producers, :size => 35
  = @form.input :funding_agency, :size => 35
  = @form.input :other_acknowledgements, :size => 25
  = @form.input :references, :size => 25, :rows => 1
