- long = { :size => 40 }
- short = { :size => 12 }

= @form.inputs 'Data Description', :id => 'data-fields' do

  = @form.inputs :class => 'inline' do
    %li
      %label
        Data is
        %abbr *
    = @form.input :data_is_qualitative, :as => :boolean
    = @form.input :data_is_quantitative, :as => :boolean
    %li= @form.errors_on("Data Category")

  = @form.input :data_relation, :as => :text, :input_html => { :rows => 4 }

  = nested_fields @form, :data_kind, :input_html => long, |
                  :label => "Data kind"
  = nested_fields @form, :time_method, :input_html => long, |
                  :label => "Time dimensions", :required => false
  = nested_fields @form, :sampling_procedure, :input_html => long, |
                  :label => "Sampling procedures", :required => false
  = nested_fields @form, :collection_method, :input_html => long, |
                  :label => "Method of data collection", :required => false

  = @form.input :sample_population
  = @form.input :response_rate
  = @form.inputs :class => 'inline' do
    = @form.input :period_start, :input_html => { :size => 12 }
    = @form.input :period_end, :input_html => { :size => 12 }
    %li= @form.errors_on("period")
  = @form.inputs :class => 'inline' do
    = @form.input :collection_start, :input_html => { :size => 12 }
    = @form.input :collection_end, :input_html => { :size => 12 }
    %li= @form.errors_on("collection")
