- long  = { :size => 40 }
- short = { :size => 12 }

= @form.inputs 'Data Description', :id => 'data-fields', :class => 'tab' do

  = @form.inputs :class => 'inline' do
    %li
      %label
        Data is
        %abbr *
    %li
      = @form.check_box :data_is_qualitative
      = @form.label :data_is_qualitative, "Qualitative"
    %li
      = @form.check_box :data_is_quantitative
      = @form.label :data_is_quantitative, "Quantitative"
    %li= @form.errors_on("Data Category")

  = @form.input :data_relation, :as => :text, :input_html => { :rows => 4 }

  = nested_fields @form, :data_kind, |
                  :input_html => long,
                  :required => true,
                  :choices_on => [:value]
  = nested_fields @form, :time_method, |
                  :input_html => long,
                  :required => false,
                  :choices_on => [:value]
  = nested_fields @form, :sampling_procedure, |
                  :input_html => long,
                  :required => false,
                  :choices_on => [:value]
  = nested_fields @form, :collection_method, |
                  :input_html => long,
                  :required => false,
                  :choices_on => [:value]

  = @form.input :sample_population
  = @form.input :response_rate
  = @form.inputs :class => 'inline' do
    = @form.input :period_start, :input_html => { :size => 12 }
    = @form.input :period_end, :input_html => { :size => 12 }
    %li= @form.errors_on("period")
  = @form.inputs :class => 'inline' do
    = @form.input :collection_start, :input_html => { :size => 12 }
    = @form.input :collection_end, :input_html => { :size => 12 }
    %li= @form.errors_on("collection")

  = @form.inputs do
    - %w{data_kind time_method sampling_procedure collection_method}.each do |a|
      = select_tag :"#{a}_choices", |
          options_for_select([''] + @study.selections(a.to_sym)), 
          :size => 10, :class => 'predefined'
