!!! XML
- ident = @identifier || @study.identifier || "xxxxx"
- long_identifier = Adapt::Study::ID_PREFIX + ident
%codeBook
  %docDscr
    %citation
      %titlStmt
        %titl= @study.title
        %IDNo= long_identifier
      %prodStmt
        %producer{ :abbr => "ADA", |
                   :affiliation => "The Australian National University" } |
          Australian Data Archive
        %copyright
          == Copyright © #{Date.today.year},
          The Australian National University.
          All rights reserved.
  %stdyDscr
    %citation
      %titlStmt
        %titl= @study.title
        %IDNo= long_identifier
      %rspStmt
        - each @study.principal_investigators do |author|
          %AuthEnty{ :affiliation => author['affiliation'] }
            = author['name']
        - each @study.other_acknowledgements do |ack|
          %othId{ :role => ack['role'], :affiliation => ack['affiliation'] }
            %p= ack['name']
      %prodStmt
        - each @study.data_producers do |producer|
          %producer{ :affiliation => producer['affiliation'] }
            = producer['name']
        - each @study.funding_agency do |agency|
          %fundAg= agency['agency']
          - unless agency['grant_number'].blank?
            %grantNo{ :agency => agency['agency'] }= agency['grant_number']
      %distStmt
        %distrbtr{ :abbr => "ADA", URI => "http://ada.edu.au", |
                   :affiliation => "The Australian National University" } |
          Australian Data Archive
        -unless @study.depositors.blank?
          %depositr{ :affiliation => @study.depositors['affiliation'] }
            = @study.depositors['name']
      %verStmt
        %verResp
          Australian Data Archive
    %stdyInfo
      %abstract= format_for_Nesstar @study.abstract
      %sumDscr
        %timePrd{ :date => date(@study.period_start), :event => 'start' }
        %timePrd{ :date => date(@study.period_end), :event => 'end' }
        %collDate{ :date => date(@study.collection_start), :event => 'start' }
        %collDate{ :date => date(@study.collection_end), :event => 'end' }
        - unless @study.sample_population.blank?
          %universe= @study.sample_population
        - if @study.data_is_quantitative == "1"
          %dataKind Quantitative
        - if @study.data_is_qualitative == "1"
          %dataKind Qualitative
        - each @study.data_kind do |kind|
          %dataKind= kind
    %method
      %dataColl
        - each @study.time_method do |method|
          %timeMeth= method
        - each @study.sampling_procedure do |sampl|
          %sampProc= sampl
        - each @study.collection_method do |mode|
          %collMode= mode
      - unless @study.response_rate.blank?
        %anlyInfo
          %respRate= @study.response_rate
    %dataAccs
      %useStmt
        - access = @study.licence && @study.licence.access_mode

        %confDec{ :required => "yes", :URI => "http://users.ada.edu.au" }

          To request download access for this study, please submit a
          "Request for Access to General Datasets" from your ADA user
          account at http://users.ada.edu.au (Note: you need
          to be a registered user and logged in to make an access
          request). You will also need to complete a signed General
          Undertaking form if this is the first time you will be
          downloading data from the Australian Data Archive.

        - if access == 'B'
          %specPerm{ :required => "yes", :URI => "http://users.ada.edu.au" }

            To request download access for this study, please submit a
            "Request for Access to Restricted Datasets" from your ADA
            user account at http://users.ada.edu.au (Note: you need to
            be a registered user and logged in to make an access
            request). You will also need to complete a signed General
            Undertaking form
            (http://www.ada.edu.au/ada/ada-undertaking-forms) once
            your access to this data has been approved by the
            depositor.

        - if access == 'S'
          %conditions

            Special access conditions apply. Please contact ADA.
            
        %restrctn

          The depositor may be informed (by the archive) of use being
          made of the data, in order to comment on that use and make
          contact with colleagues of similar interests.

        %citReq
          :cdata
            All manuscripts based in whole or in part on these data
            should:
          
            (i) identify the data and original investigators by using
            the recommended bibliographic reference to the data file;
            
            (ii) acknowledge the Australian Data Archive
            and, where the data are made available through the
            Australian Data Archive by another archive,
            acknowledge that archive;
            
            (iii) declare that those who carried out the original
            analysis and collection of the data bear no responsibility
            for the further analysis or interpretation of them.

        %deposReq

          In order to assemble essential information about archival
          resources and to facilitate the exchange of information
          about users’ research activities, individuals are required
          to email ADA (ada@anu.edu.au) with the bibliographic details
          and, where available, online links to any published work
          (including journal articles, books or book chapters,
          conference presentations, theses or any other publications
          or outputs) based wholly or in part on the material.

        %disclaimer

          Use of the material is solely at the user's risk. The
          depositor, The Australian National University and the
          Australian Data Archive shall not be held
          responsible for the accuracy and completeness of the
          material supplied.

    %othrStdyMat
      - unless @study.data_relation.blank?
        %relStudy= @study.data_relation
      - each @study.references do |ref|
        %relPubl
          = ref['description']
          %citation
            %titlStmt
              %titl= ref['citation']
            %holdings{ :URI => ref['link'] }

  - @study.attachments.data_files.each_with_index do |attachment, i|
    %fileDscr
      %fileTxt
        %fileName{ :ID => "F#{i+1}" }= attachment.name
        %fileCont= attachment.description_for_ddi
        %fileType= attachment.file_type || "(unknown)"
        - if attachment.restricted?
          %notes Access Level A, Access Level B
