- title "Edit Study"
- wait = ! @can_submit

%em
  %p
    Please supply as many details as possible. You can fill out this
    form in any order by simply moving between the tabs below. See the
    %a{ :href => '#adapt-edit-help', :class => 'tab-link' } Help
    tab for further tips and instructions.

= semantic_form_for @study, :url => adapt_study_path(@study), |
    :html => {:multipart => true} do |form| |
  - @form = form

  %div= submit_tag "Submit this study", :disabled => wait, :confirm => @warning
  %br

  .tab-container
    %ul.tab-index
      = tab_link('#adapt-title-fields', 'Title and Abstract')
      = tab_link('#adapt-data-fields', 'Data Description')
      = tab_link('#adapt-credit-fields', 'Credits')
      = tab_link('#adapt-attachment-fields', 'Attached Files')
      = tab_link('#adapt-licence-fields', 'Licence Details')
      = tab_link('#adapt-edit-help', 'Help')

    = render 'edit_help'
    = render 'title_fields'
    = render 'data_fields'
    = render 'credit_fields'
    = render 'attachment_fields'
    = render 'licence_fields'

  = form.buttons do
    - @button_texts.each do |value|
      = form.commit_button value, :button_html => { :name => 'result' }
