- title "Deposits"

%table.zebra
  %thead
    %tr
      %th.noprint
      %th.noprint
      %th Title
      %th Created by
      %th Archivist
      %th Status
      %th Files
      %th ADA ID
  %tbody
    - for study in @studies
      %tr
        %td.noprint
          - if study.can_be_edited_by(current_user)
            = link_to "Edit", edit_adapt_study_path(study)
          - else
            = link_to "Summary", adapt_study_path(study)
        %td.noprint
          - if study.can_be_destroyed_by(current_user)
            = link_to "Delete", adapt_study_path(study), |
                      'data-confirm' => 'Really delete this study?', |
                      'data-method' => :delete |
        %td
          %p= clip_text h(study.title), 60
        %td=h study.owner.name
        %td=h study.archivist && study.archivist.name
        %td= study.status
        %td= study.attachments.count
        %td= study.identifier || "&mdash;".html_safe
