- title "Edit Study #{@study.name||""} (Page 3)"

%p
  %em=h @study.title
%hr

- make_form_for @study, :url => study_acknowledgement_url(@study) do |f|
  = f.error_messages
  = f.structured :depositors, :required => true
  = f.structured :principal_investigators, :required => true
  = f.structured :data_producers, :repeatable => true
  = f.structured :funding_agency
  = f.structured :other_acknowledgements, :size => 22
  %hr
  = f.result_buttons %w{Back Next}
