= stylesheet_link_tag 'adapt/adapt'
= stylesheet_link_tag 'adapt/adapt-swell'

-#
  = javascript_include_tag 'jquery-1.4.2.min'
  = javascript_include_tag 'rails'

= javascript_include_tag 'jquery.tabs'
= javascript_include_tag 'jquery.tooltips'
= javascript_include_tag 'jquery.textarea-expander'
= javascript_include_tag 'jquery.choices'
= javascript_include_tag 'jquery.multifile'
= javascript_include_tag 'application'
= yield(:head)
