!!! Strict
%html{html_attrs}
  - stripped = request.xhr? || params[:stripped]

  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= h(yield(:title) || "Untitled")
    = csrf_meta_tag
    - unless stripped
      - if params.has_key?('printer_friendly')
        = stylesheet_link_tag 'application-print', :media => 'all'
        %style{:type => "text/css"} body { padding: 2em; width: 80%; }
      - else
        = stylesheet_link_tag 'application', 'layout'
        = stylesheet_link_tag 'application-print', :media => 'print'
      /[if IE]
        = stylesheet_link_tag 'ie-fixes', :media => 'all'
      /[if lt IE 8]
        - src = "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"
        %script{ :src => src }
      = javascript_include_tag 'jquery-1.4.2.min'
      = javascript_include_tag 'jquery.form'
      = javascript_include_tag 'jquery.textarea-expander'
      = javascript_include_tag 'rails'
      = javascript_include_tag 'application'
      = yield(:head)
  
  %body
    #top
      - unless stripped
        #navigation
          = image_tag "/images/minifantopleft.png"
          %ul
            - if user_account_signed_in?
              %li= link_to "View deposits", adapt_studies_path
              %li= link_to "Add study", new_adapt_study_path
            - else
              %li= link_to "Register", ADAPT::CONFIG['assda.registration.url']
              %li= link_to "Login", login_path
            %li= link_to "Logout", logout_path
    
      #main
        - unless stripped
          #header
            = image_tag "/images/minifantop.png"
            = image_tag "/images/assda-logo.png", :class => "logo"
            %div= "ADAPT Prototype (#{Rails.env} mode)"

        - image_name = Rails.env.production? ? 'house' : 'testing'
        - image = image_path("#{image_name}.jpg")
        #content{ :style => "background: url(#{image}) no-repeat right bottom" }
          #messages
            = yield(:messages)
            - flash.each do |name, msg|
              %div{ :id => "flash_#{name}" }= h(msg).gsub(/\n/, '<br/>')
      
          - if show_title? and not stripped
            %h1=h yield(:title)
        
          #page= yield
  
    - unless stripped
      #footer
        Copyright 2010 ANUSF
        %br
        &mdash;
        %br
        Powered by Ruby on Rails
        %br
        - unless @exception
          = link_to "Printer style preview", url_for(:printer_friendly => 1), |
                    :method => request.method |
          - if in_demo_mode and user_account_signed_in?
            = formular_for current_user, |
              :url => adapt_user_session_path(current_user) do |f| |
              %input{ :type => "hidden", :name => "last_url", :value => url_for }
              = f.select :role, :label => ""
              = f.result_buttons "Change Role"

    - if params.has_key?('printer_friendly')
      %br
      = link_to "Back to normal view", url_for(:printer_friendly => nil), |
                :method => request.method |
