!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = yield(:head)
  
  %body
    #top
      #navigation
        = image_tag "/images/minifantopleft.png"
        .clear
        %ul
          - if current_user
            %li
              %a{ :href => studies_path }   View deposits
            %li
              %a{ :href => new_study_path } Add study
            %li
              %a{ :href => edit_user_path(:current) } Edit profile
            %li
              %a{ :href => logout_path }    Logout
          - else
            %li
              %a{ :href => new_user_path }  Register
            %li
              %a{ :href => login_path }     Login
    
      #main
        #header
          = image_tag "/images/minifantop.png"
          = image_tag "/images/assda-logo.png", :class => "logo"
          %div ASSDA Self Deposit (Prototype)
        .clear
        #divider
        .clear

        #content
          - flash.each do |name, msg|
            %div{ :id => "flash_#{name}" }= msg
      
          - if show_title?
            %h1=h yield(:title)
        
          #page
            = yield
  
    .clear
    #footer
      Copyright 2009 ANUSF
      %br
      &mdash;
      %br
      Powered by Ruby on Rails
