!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = yield(:head)
  
  %body
    #top
      #navigation
        %img{ :src => "/images/minifantopleft.png" }
        .clear
        %ul
          - if current_user
            %li= link_to "Edit profile", edit_user_path(:current)
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Register", new_user_path
            %li= link_to "Login", login_path
    
      #main
        #header
          %img{ :src => "/images/minifantop.png" }
          %img{ :class => "logo", :src => "/images/assda-logo.png" }
          %div ASSDA Self Deposit (Prototype)
        .clear
        #divider
        .clear

        #content
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
      
          - if show_title?
            %h1=h yield(:title)
        
          #page
            = yield
  
    .clear
    #footer
      Copyright 2009 ANUSF
      %br
      &mdash;
      %br
      Powered by Ruby on Rails
